@import "tailwindcss";



html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  /* Remove overflow: hidden */
  /* Or set overflow: auto or overflow-x: hidden; overflow-y: auto; */
  overflow-y: auto; /* allows vertical scroll */
  overflow-x: hidden; /* hides horizontal scroll if unwanted */
}



@keyframes pulse-slow {
  0%, 100% {
    transform: scale(1);
    opacity: 0.2;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.4;
  }
}

.animate-pulse-slow {
  animation: pulse-slow 1s ease-in-out infinite;
}

.delay-150 {
  animation-delay: 0.15s;
}

.delay-300 {
  animation-delay: 0.3s;
}
